@model Product

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row ">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Create Product
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-floating py-1 col-12 ">
                    <input asp-for=Brand class="form-control border-0 shadow" />
                    <label asp-for=Brand class="ms-2"></label>
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12 ">
                    <input asp-for=KilometresDriven class="form-control border-0 shadow" />
                    <label asp-for=KilometresDriven class="ms-2"></label>
                    <span asp-validation-for="KilometresDriven" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12 ">
                    <input asp-for=PowerInKilowatts class="form-control border-0 shadow" />
                    <label asp-for=PowerInKilowatts class="ms-2"></label>
                    <span asp-validation-for="PowerInKilowatts" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12 ">
                    <input asp-for=Price class="form-control border-0 shadow" />
                    <label asp-for=Price class="ms-2"></label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12 ">
                    <input asp-for=YearOfConstruction class="form-control border-0 shadow" />
                    <label asp-for=YearOfConstruction class="ms-2"></label>
                    <span asp-validation-for="YearOfConstruction" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12 ">
                    <select asp-for=CategoryId asp-items="@(ViewData["CategoryId"] as IEnumerable<SelectListItem>)" class="form-select border-0 shadow">
                        <option disabled selected>--Select Category</option>
                    </select>
                    <label asp-for=CategoryId class="ms-2"></label>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div asp-validation-summary="All"></div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    @{
    <partial Brand="_ValidationScriptsPartial"/>
    }
}